<!-- HEADER DESKTOP-->
<header class="header-desktop3 d-none d-lg-block">
    <div class="section__content section__content--p35">
        <nav class="navbar navbar-expand-lg navbar-light" id="ma-nav-perso">
            <div class="row" style="margin: auto; width: 100%">
                <div class="edacy">
                    <a href="home.html">
                        <img src="../../assets/images/icon/logo.svg" />
                    </a>
                </div>
                <div class="collapse navbar-collapse" style="width: 100px">
                    <ul class="navbar-nav">
                        <li class="nav-item" style="margin: auto">
                            <a href="https://www.edacy.com/programs" class="linka">PROGRAMS</a>
                        </li>
                        <li class="nav-item" style="margin: auto">
                            <a href="https://www.edacy.com/students" class="links">STUDENTS</a>
                        </li>
                        <li class="nav-item" style="margin: auto">
                            <a href="https://www.edacy.com/enterprises" class="linke">ENTERPRISES</a>
                        </li>
                        <li>
                            <div class="rectangle-2 text-center">
                                <a class="register-now " href="https://appv2.edacy.com/users/signin" target="_blank">LOGIN</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!-- END HEADER DESKTOP-->

<!-- HEADER MOBILE-->
<div class="w3-sidebar w3-bar-block w3-card w3-animate-right" style="display:none;right:0;" id="rightMenu">
    <button onclick="closeRightMenu()" class="w3-bar-item w3-button w3-large text-center" style="margin-left: -60px;background: #ffffff !important">&times;</button>
    <ul class="navbar-mobile__list list-unstyled">
        <li class="has-sub">
            <a class="speakers" style="margin-left: 35px" href="https://www.edacy.com/programs">
                PROGRAMS</a>
        </li>
        <li>
            <a class="speakers" style="margin-left: 35px" href="https://www.edacy.com/students">
                STUDENTS</a>
        </li>
        <li>
            <a class=" speakers" style="margin-left: 35px" href="https://www.edacy.com/enterprises">
                ENTERPRISES</a>
        </li>
        <li>
            <div class="rectangle-2 text-center" style="margin-left: 31px; margin-top: 10px">
                <a class="register-now " href="https://appv2.edacy.com/users/signin" target="_blank">LOGIN</a>
            </div>
        </li>
    </ul>
</div>

<div class="w3-teal">
    <div class="row" style="widht: 90%">
        <a class="edacy" href="home.html">
            <img src="../../assets/images/icon/logo.svg" alt="EDACY" />
        </a>
        <button style="" class="w3-button w3-xlarge w3-right" onclick="openRightMenu()">&#9776;</button>
    </div>
</div>
<!-- END HEADER MOBILE -->