 <!-- FOOTER CONTENT-->

 <div class="background-footer">
    <div class="container-fluid app-footer taille-footer">
        <div class="app-footer-title">
            <span> Need more insights</span>
        </div>
        <form action="https://edacy.us14.list-manage.com/subscribe/post?u=e9c51611a1815a0dc2f2def02&amp;id=6a35e83c6e"
            method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate="" #form>
            <div class="app-footer-section-social-input ">
                <input type="text" id="nom" name="nom" placeholder="ENTER YOUR MAIL" class="form-control">
                <button type="submit" name="subscribe" (click)="form.submit()">SUSCRIBE </button>
            </div>
        </form>
    </div>
    <hr class="hrf">
    <div class="container-fluid app-footer taille-footer1">
        <div class="app-footer-bottom">
            <div class="logo">
                <a>
                    <img src="../../assets/images/icon/logo.svg" alt="Edacy">
                </a>
            </div>
            <div>
                <ul>
                    <p class="footer-plus">COMPANY</p>
                    <li>
                        <a href="https://www.edacy.com/about" style="color: #61bfad">ABOUT US</a>
                    </li>
                    <li>
                        <a href="https://www.edacy.com/students" style="color: #61bfad">STUDENTS</a>
                    </li>
                    <li>
                        <a href="https://www.edacy.com/enterprises" style="color: #61bfad">ENTERPRISES</a>
                    </li>

                </ul>
            </div>
            <div class="">
                <ul>

                    <p class="footer-plus">QUICK LINKS</p>
                    <li>
                        <a href="https://www.edacy.com/programs" style="color: #61bfad"> WORKLEARNING</a>
                    </li>
                    <li>
                        <a href="https://www.edacy.com/programs?gotoOpen=true" style="color: #61bfad"> OPENLEARNING</a>
                    </li>
                    <li>
                        <a href="https://www.edacy.com/faq" style="color: #61bfad">HELP & FAQS</a>
                    </li>
                </ul>
            </div>
            <div class="app-footer-bottom-networks">
                <p style="margin-bottom: 10px">Social Links</p>
                <a href="https://medium.com/@EDACY" target="_blank">
                    <img src="../../assets/images/icon/Medium.png" alt="Medium">
                </a>
                <a href="https://www.instagram.com/edacyhq/" class="logo-social" target="_blank">
                    <img src="../../assets/images/icon/insta.png" alt="Instagram">
                </a>
                <a href="https://www.facebook.com/edacyhq" target="_blank">
                    <img src="../../assets/images/icon/facebook.png" alt="Facebook">
                </a>
                <a href="https://www.linkedin.com/company/edacy/" target="_blank">
                    <img src="../../assets/images/icon/linkidin.png" alt="LinkedIn">
                </a>
                <a href="https://twitter.com/EDACYHQ" target="_blank">
                    <img src="../../assets/images/icon/twitter.png" alt="Twitter">
                </a>
            </div>
        </div>
    </div>
</div>

<!-- END FOOTER CONTENT-->