<div class="contain">
  <div class="card">
    <div class="card-header">
      Create Event
    </div>
    <div class="card-body">
      <form [formGroup]="angForm" novalidate>
        <div class="form-group">
          <label class="col-md-4">Home image</label>
          <input
            type="file"
            class="form-control"
            (change)="upload($event)"
            accept=".png,.jpg"
            formControlName="event_imgHome"
            #event_imgHome
          />
        </div>
        <div>
          <progress max="100" [value]="uploadProgress | async"></progress>
          {{ uploadProgress | async }}%
          <img [src]="downloadURL" alt="" height="200px" />
        </div>
        <div class="form-group">
          <label class="col-md-4">Event Name</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="event.title"
            formControlName="event_name"
            #event_name
          />
        </div>
        <div class="form-group">
          <label class="col-md-4">Event Name Short</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="event.titleshort"
            formControlName="event_name_short"
            #event_name_short
          />
        </div>
        <div class="form-group">
          <label class="col-md-4">Event Place</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="event.lieu"
            formControlName="event_lieu"
            #event_lieu
          />
        </div>
        <div class="form-group">
          <label class="col-md-4">Event Date </label>
          <input
            type="date"
            class="form-control"
            [(ngModel)]="event.date"
            formControlName="event_gst_date"
            #event_gst_date
          />
        </div>
        <div class="form-group">
          <label class="col-md-4">Event Link Evenbride</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="event.evenbride"
            formControlName="event_evenbride"
            #event_evenbride
          />
        </div>
        <div class="form-group">
          <label class="col-md-4">Event first Description </label>
          <textarea
            type="text"
            class="form-control"
            [(ngModel)]="event.description.short"
            formControlName="event_desc"
            #event_desc
          >
          </textarea>
        </div>
        <div class="form-group">
          <label class="col-md-4">Event second Description </label>
          <textarea
            type="text"
            class="form-control"
            [(ngModel)]="event.description.short1"
            formControlName="event_desc_other"
            #event_desc_other
          >
          </textarea>
        </div>
        <div class="form-group">
          <label class="col-md-4">Event long Description </label>
          <textarea
            type="text"
            class="form-control"
            [(ngModel)]="event.description.long"
            formControlName="event_desc_long"
            #event_desc_other
          >
          </textarea>
        </div>
        <div class="d-flex justify-content-between flex-wrap">
          <div
            class="card"
            *ngFor="let facilitator of event.facilitator; let indexF = index"
          >
            <div class="d-flex flex-column">
              <div class="form-group">
                <label class="col-md-4">Facilitator image</label>
                <input
                  type="file"
                  class="form-control"
                  (change)="uploadF($event,indexF)"
                  accept=".png,.jpg"
                  formControlName="event_imgFacilitator"
                  #event_imgFacilitator
                />
              </div>
              <!--<div>
                 <progress
                  max="100"
                  [value]="uploadProgressF[indexF] | async"
                ></progress>
                {{ uploadProgressF[index] | async }}%
                <img [src]="[downloadURLF[indexF]]" alt="" height="200px" />
              </div>-->
              <div class="form-group">
                <label class="">Facilitator name</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="facilitator.name"
                  formControlName="event_faclitator_name"
                  #event_faclitator_name
                />
              </div>
              <div class="form-group">
                <label class="">Facilitator job</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="facilitator.job"
                  formControlName="event_faclitator_job"
                  #event_faclitator_job
                />
              </div>
              <div class="form-group">
                <label class="">Facilitator feel</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="facilitator.feel"
                  formControlName="event_faclitator_feel"
                  #event_faclitator_feel
                />
              </div>
              <div class="form-group">
                <label class="">Facilitator twitter</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="facilitator.twitter"
                  formControlName="event_faclitator_twitter"
                  #event_faclitator_twitter
                />
              </div>
              <div class="form-group">
                <label class="">Facilitator facebook</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="facilitator.facebook"
                  formControlName="event_faclitator_facebook"
                  #event_faclitator_facebook
                />
              </div>
              <div class="form-group">
                <label class="">Facilitator linkedin</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="facilitator.linkedin"
                  formControlName="event_faclitator_linkedin"
                  #event_faclitator_linkedin
                />
              </div>
            </div>
          </div>
        </div>
        <div class="form__row">
          <div class="form__add-another">
            <button (click)="addFacilitatorInfos()">
              <span>+</span>Add Facilitator
            </button>
          </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap">
          <div
            class="card"
            *ngFor="let schedule of event.schedule; let indexS = index"
          >
            <div class="d-flex flex-column">
              <div class="form-group">
                <label class="">schedule name</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="schedule.name"
                  formControlName="event_schedule_name"
                  #event_schedule_name
                />
              </div>
              <div class="form-group">
                <label class="">schedule date</label>
                <input
                  type="date"
                  class="form-control"
                  [(ngModel)]="schedule.date"
                  formControlName="event_schedule_date"
                  #event_schedule_date
                />
              </div>
              <div class="form-group">
                <div class="d-flex justify-content-between flex-wrap">
                  <div
                    class="card"
                    *ngFor="let program of schedule?.program"
                  >
                    <div class="d-flex flex-column">
                      <div class="form-group">
                        <label class="">Program hour</label>
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="program.hour"
                          formControlName="schedule_program_hour"
                          #schedule_program_hour
                        />
                      </div>
                      <div class="form-group">
                        <label class="">Program name</label>
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="program.text"
                          formControlName="schedule_program_name"
                          #schedule_program_name
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form__row">
                <div class="form__add-another">
                  <button (click)="addActivityInfos(indexS)">
                    <span>+</span>Add Activity
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form__row">
          <div class="form__add-another">
            <button (click)="addScheduleInfos()">
              <span>+</span>Add Schedule infos
            </button>
          </div>
        </div>
        <div class="form-group">
          <button
            [routerLink]="['/admin']"
            (click)="addEvent()"
            [disabled]="angForm.pristine || angForm.invalid"
            class="btn btn-primary"
          >
            Add Event
          </button>
          <button [routerLink]="['/admin']" class="btn space btn-warning">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
