<!-- BREADCRUMB-->
<section class="text-center" id="img-0433-edit">
  <div class="centerm">
    <div class="design-thinking-olym">
      <p>BOOTCAMP #5</p>
    </div>
    <div class="Subdes">
      <p>Applying Design Thinking to solve real-life challenges</p>
    </div>
  </div>
</section>
<!-- END BREADCRUMB-->

<!-- PAGE CONTENT-->


<!--BAR-->
<section class="magie">
  <div class="page-content--bgf7b">
    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="col-3" style="margin: auto">
            <div id="perso">
            </div>
          </div>
          <div class="col-8" style="margin: auto;">
            <div class=" date">6th-8th November, 2018
            </div>
          </div>
          <div class="separation" style="margin-left: 7%"></div>
        </div>
      </div>
      <div class="col-4">
        <div class="row" style="height: 100% !important">
          <div class="col-3" style="margin: auto">
            <a href="#map">
              <div id="perso-map" style="margin-left: 77%;">
              </div>
            </a>
          </div>
          <div class="col-8" style="margin: auto">
            <a href="#map" class="date" style="margin-left: 17%; height: 100%;">EDACY, SENEGAL</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-3">
            <div class="separation"></div>
          </div>
          <div class="col-9 centerf" id="About">
            <a href="https://www.eventbrite.co.uk/e/edacy-bootcamp-5-tickets-50174314726" target="_blank">
              <button class="register-now1">REGISTER NOW</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="flex-container">
  <div></div>
  <div></div>
  <div class="row">
    <div class="col-3" style="padding: auto">
      <div id="persom">
      </div>
    </div>
    <div class="col-4 ext-end">
      <a class="datem">
        6th-8th November, 2018
      </a>
    </div>
  </div>
  <div></div>
  <div></div>
  <div>
    <div class="separationm">
    </div>
  </div>
  <div></div>
  <div></div>
  <div class="row">
    <div class="col-3">
      <a href="#map">
        <div id="persom-map">
        </div>
      </a>
    </div>
    <div class="col-4 ext-end">
      <a href="map" class="datem">EDACY, Senegal</a>
    </div>
  </div>
  <div></div>
  <div></div>
  <div>
    <div class="separationm"></div>
  </div>
  <div></div>
  <div></div>
  <div>
    <div class="register-now1m">
      <a style="color:black" href="https://www.eventbrite.co.uk/e/edacy-bootcamp-5-tickets-50174314726" target="_blank">
        REGISTER NOW
      </a>
    </div>
  </div>
  <div></div>
  <div id="About"></div>
</div>
<!--END BAR-->

<div class="page-content--bgf7" style="margin-top: 6%">

  <!-- TEXT-->
  <div class="container-fluid">
   <a routerLink="/home">
     <div class="about-this-event">
      <p>About the event</p>
    </div>
   </a> 

    <!-- TEXT-->
    <div class="days-of-quality">
      <p>3 days of design thinking, prototyping and exciting product innovation. </p>
    </div>
    <!-- END TEXT-->

    <div class="sed-ut-perspiciatis">
      <p>A 3 days event where experts in Design Thinking/UX Design,
        and software development team up with local mentors and guide teams of
        talents to solve problems and evolve innovative solutions.
      </p>
    </div>
  </div>
  <!-- END TEXT-->

  <!-- FACILITATORS-->

  <div id="Facil" class="facilitators tex-center" style="margin-top: 10%">
    <p>Facilitators</p>
  </div>
  <section class="statistic">
    <div class="container">
      <div class="row">
        <div class="col-md-6" style="margin: auto !important;width: 100% !important">
          <div class="statistic__item statistic__item--white" style="padding-top: 0px">
            <div class="conteneur">
              <div class="d20"></div>
              <div class="apercu">
                <p class="text-left" style="font-size: 17px;">Our vision is powerful, we create
                  value by bringing value to the world.
                  Through EDACY I can be and help shaping the change I want to see in Africa.
                </p>
                <a id="social2" style="float: left ;" href="https://twitter.com/CarinaDjey"></a>
                <a id="social3" style="float: left;" href="https://www.linkedin.com/in/carinevavasseur/"></a>
                <a id="social5" style="float: left ;" href="https://www.facebook.com/EbeneTouch"></a>
              </div>
              <div class="text-center">
                <a style="font-size: 22px;">Carine VAVASSEUR</a>
              </div>
              <div class="text-center">
                <a>Head of Career Services</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="statistic__item statistic__item--white" style="padding-top: 0px">
            <div class="conteneur">
              <div class="d21"></div>
              <div class="apercu">
                <p class="text-left" style="font-size: 17px;">For me, EDACY is all about
                  empowerment,
                  impact, and growth - arming African youths with the right skillsets,
                  and positioning them to take advantage of the digital skill gap in global
                  innovation.
                </p>
                <a id="social2" style="float: left;" href="https://twitter.com/iamayomidotun"></a>
                <a id="social3" style="float: left;" href="https://www.linkedin.com/in/ayomidotun/"></a>
                <a id="social5" style="float: left;" href="https://www.facebook.com/ayomidotun"></a>
              </div>
              <div class="text-center">
                <a style="font-size: 22px;">Ayomidotun Freeborn
                </a>
              </div>
              <div class="text-center">
                <a>Product Design Lead</a>
              </div>
            </div>
            <div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END FACILITATORS-->

  <div class="container-fluid">
    <div class="facilitators">
      <p>Event Schedule</p>
    </div>
  </div>

  <div class="container centerf">
    <div id="accordion">
      <ul>
        <li>
          <div class="rectangle-3">
            <div class="centerleft">
              <p class="day-1 text-left">Day 1: Empathy & Ideation</p>
              <p class="date1 text-left">6th Nov, 2018</p>
            </div>
          </div>
          <ul>
            <li class="date12 text-left">
              <a style="  color: #9B9B9B;">&nbsp;&nbsp;&nbsp;&nbsp; 09H30
                &nbsp;&nbsp;&nbsp;&nbsp;
                CHECK-IN
              </a>
            </li>
            <li class="date12" id="a1">
              <a class="text-left" style="  color: #9B9B9B;"> &nbsp;&nbsp;&nbsp;&nbsp; 09H00
                &nbsp;&nbsp;&nbsp;&nbsp
                WELCOME AND OVERVIEW
              </a>
            </li>
            <li class="date12 text-left">
              <a style="  color: #9B9B9B;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 09H15
                &nbsp;&nbsp;&nbsp;&nbsp;
                INTRODUCTION
              </a>
            </li>
            <li class="date12 text-left">
              <a style="  color: #9B9B9B;">&nbsp;&nbsp;&nbsp;&nbsp;
                09H45&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                CHALLENGE</a>
            </li>
            <li class="date12 text-left">
              <a style="  color: #9B9B9B;">&nbsp;&nbsp;&nbsp;&nbsp; 10H15
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                IN-DEPHT DISCUSSION
              </a>
            </li>
            <li class="date12 text-left">
              <a style="  color: #9B9B9B;">&nbsp;&nbsp;&nbsp;&nbsp; 11H15&nbsp; &nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                Q&A SESSION WITH CLIENTS
              </a>
            </li>
            <li class="date12 text-left">
              <a style="  color: #9B9B9B;">&nbsp;&nbsp;&nbsp;&nbsp; 12H00-&nbsp;
                &nbsp;&nbsp;&nbsp;
                LUNCH+BREAK
              </a>
            </li>
            <li class="date12 text-left">
              <a style="  color: #9B9B9B;">&nbsp;&nbsp;&nbsp;&nbsp; 13H00&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                FRAMING THE PROBLEM
              </a>
            </li>
            <li class="date12 text-left">
              <a style="  color: #9B9B9B;">&nbsp;&nbsp;&nbsp;&nbsp; 13H30 &nbsp;
                &nbsp;&nbsp;&nbsp;
                HOW: UX DESIGN PROCESS</a>
            </li>
            <li class="date12 text-left">
              <a style="  color: #9B9B9B;">&nbsp;&nbsp;&nbsp;&nbsp; 14H00 &nbsp; &nbsp;
                &nbsp;
                USER RESEARCH (activity)
              </a>
            </li>
            <li class="date12 text-left">
              <a style="  color: #9B9B9B;">&nbsp;&nbsp;&nbsp;&nbsp; 15H30&nbsp; &nbsp;
                &nbsp;&nbsp;
                IDEATION + INNOVATION
              </a>
            </li>

          </ul>
        </li>
        <li>
          <div class="rectangle-3 rols1">
            <p class="day-1 text-left">Day 2: Prototype & Development</p>
            <p class="date1 text-left">7th Nov, 2018</p>
          </div>
          <ul>
            <li class="date12" id="a1">
              <a class="text-left" style="  color: #9B9B9B;"> &nbsp;&nbsp;&nbsp;&nbsp; 08H30
                &nbsp;&nbsp;&nbsp;&nbsp
                CHECK-IN
              </a>
            </li>
            <li class="date12 text-left">
              <a style="  color: #9B9B9B;">&nbsp;&nbsp;&nbsp;&nbsp; 09H00
                &nbsp;&nbsp;&nbsp;&nbsp;
                PROTOTYPING</a>
            </li>
            <li class="date12 text-left">
              <a style="  color: #9B9B9B;">&nbsp;&nbsp;&nbsp;&nbsp;
                10H00&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                FIELD WORK</a>
            </li>
            <li class="date12 text-left">
              <a style="  color: #9B9B9B;">&nbsp;&nbsp;&nbsp;&nbsp; 11H30
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                ITERATION PROCESS
              </a>
            </li>
            <li class="date12 text-left">
              <a style="  color: #9B9B9B;">&nbsp;&nbsp;&nbsp;&nbsp; 12H00&nbsp; &nbsp;
                &nbsp;&nbsp;
                LUNCH+BREAK
              </a>
            </li>
            <li class="date12 text-left">
              <a style="  color: #9B9B9B;">&nbsp;&nbsp;&nbsp;&nbsp; 13H00&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                PROTOTYPE
              </a>
            </li>
            <li class="date12 text-left">
              <a style="  color: #9B9B9B;">&nbsp;&nbsp;&nbsp;&nbsp; 14H00&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                DEVELOPMENT
              </a>
            </li>
            <li class="date12 text-left">
              <a style="  color: #9B9B9B;">&nbsp;&nbsp;&nbsp;&nbsp; 17H30 &nbsp;
                &nbsp;&nbsp;&nbsp;
                STORYTELLING</a>
            </li>
            <li class="date12 text-left">
              <a style="  color: #9B9B9B;">&nbsp;&nbsp;&nbsp;&nbsp;18H30 &nbsp; &nbsp;
                &nbsp;&nbsp;
                PITCH</a>
            </li>

          </ul>
        </li>
        <li>
          <div class="rectangle-3 rols1">
            <p class="day-1 text-left">Day 3: Demo Day</p>
            <p class="date1 text-left">8th Nov, 2018</p>
          </div>
          <ul>
            <li class="date12" id="a1">
              <a class="text-left" style="  color: #9B9B9B;"> &nbsp;&nbsp;&nbsp;&nbsp; 08H30
                &nbsp;&nbsp;&nbsp;&nbsp
                CHECK-IN
              </a>
            </li>
            <li class="date12 text-left">
              <a style="  color: #9B9B9B;">&nbsp;&nbsp;&nbsp;&nbsp; 09H00
                &nbsp;&nbsp;&nbsp;&nbsp;
                DEVELOPPMENT
              </a>
            </li>
            <li class="date12 text-left">
              <a style="  color: #9B9B9B;">&nbsp;&nbsp;&nbsp;&nbsp;
                12H00&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                LUNCH+BREAK</a>
            </li>
            <li class="date12 text-left">
              <a style="  color: #9B9B9B;">&nbsp;&nbsp;&nbsp;&nbsp; 13H00&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                PITCH MOTIVATION
              </a>
            </li>
            <li class="date12 text-left">
              <a style="  color: #9B9B9B;">&nbsp;&nbsp;&nbsp;&nbsp; 15H30&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                PRESENTATIONS COLLECTION
              </a>
            </li>
            <li class="date12 text-left">
              <a style="  color: #9B9B9B;">&nbsp;&nbsp;&nbsp;&nbsp; 16H00 &nbsp;
                &nbsp;&nbsp;&nbsp;
                TEAM PRESENTATION
              </a>
            </li>
            <li class="date12 text-left">
              <a style="  color: #9B9B9B;">&nbsp;&nbsp;&nbsp;&nbsp; 18H00 &nbsp; &nbsp;
                &nbsp;
                END OF BOOTCAMP
              </a>
            </li>

          </ul>
        </li>

      </ul>
    </div>
  </div>
  <!-- PARTNERS-->
  <section class=" text-center rectanglep" style="background-color: #ffffff;margin-bottom: 15%">
    <div class="our-partners text-center">
      <p>Our Partners</p>
    </div>
    <marquee direction="left" scrollamount="6">
      <a class="slideimg" href="http://www.cofinasenegal.com/" target="_blank">
        <img src="../../assets/images/partners/cofina.png" alt="COFINA" border="0" />
      </a>
      <a class="slideimg" href="http://web.expressotelecom.sn/fr/" target="_blank">
        <img src="../../assets/images/partners/expresso-logo.png" alt="EXPRESSO" border="0" />
      </a>
      <a class="slideimg" href="https://www.gainde2000.com/" target="_blank">
        <img src="../../assets/images/partners/gainde-logo.png" alt="GAINDE" border="0" />
      </a>
      <a class="slideimg" href="https://www.unicef.org/fr" target="_blank">
        <img src="../../assets/images/partners/unicef.png" alt="UNICEF" border="0" />
      </a>
      <a class="slideimg" href="http://www.cofinasenegal.com/" target="_blank">
        <img src="../../assets/images/partners/cofina.png" alt="COFINA" border="0" />
      </a>
      <a class="slideimg" href="http://web.expressotelecom.sn/fr/" target="_blank">
        <img src="../../assets/images/partners/expresso-logo.png" alt="EXPRESSO" border="0" />
      </a>
      <a class="slideimg" href="https://www.gainde2000.com/" target="_blank">
        <img src="../../assets/images/partners/gainde-logo.png" alt="GAINDE" border="0" />
      </a>
      <a class="slideimg" href="https://www.unicef.org/fr" target="_blank">
        <img src="../../assets/images/partners/unicef.png" alt="UNICEF" border="0" />
      </a>
      <a class="slideimg" href="http://www.cofinasenegal.com/" target="_blank">
        <img src="../../assets/images/partners/cofina.png" alt="COFINA" border="0" />
      </a>
      <a class="slideimg" href="http://web.expressotelecom.sn/fr/" target="_blank">
        <img src="../../assets/images/partners/expresso-logo.png" alt="EXPRESSO" border="0" />
      </a>
      <a class="slideimg" href="https://www.gainde2000.com/" target="_blank">
        <img src="../../assets/images/partners/gainde-logo.png" alt="GAINDE" border="0" />
      </a>
      <a class="slideimg" href="https://www.unicef.org/fr" target="_blank">
        <img src="../../assets/images/partners/unicef.png" alt="UNICEF" border="0" />
      </a>
      <a class="slideimg" href="http://www.cofinasenegal.com/" target="_blank">
        <img src="../../assets/images/partners/cofina.png" alt="COFINA" border="0" />
      </a>
      <a class="slideimg" href="http://web.expressotelecom.sn/fr/" target="_blank">
        <img src="../../assets/images/partners/expresso-logo.png" alt="EXPRESSO" border="0" />
      </a>
      <a class="slideimg" href="https://www.gainde2000.com/" target="_blank">
        <img src="../../assets/images/partners/gainde-logo.png" alt="GAINDE" border="0" />
      </a>
      <a class="slideimg" href="https://www.unicef.org/fr" target="_blank">
        <img src="../../assets/images/partners/unicef.png" alt="UNICEF" border="0" />
      </a>
      <a class="slideimg" href="http://www.cofinasenegal.com/" target="_blank">
        <img src="../../assets/images/partners/cofina.png" alt="COFINA" border="0" />
      </a>
      <a class="slideimg" href="http://web.expressotelecom.sn/fr/" target="_blank">
        <img src="../../assets/images/partners/expresso-logo.png" alt="EXPRESSO" border="0" />
      </a>
      <a class="slideimg" href="https://www.gainde2000.com/" target="_blank">
        <img src="../../assets/images/partners/gainde-logo.png" alt="GAINDE" border="0" />
      </a>
      <a class="slideimg" href="https://www.unicef.org/fr" target="_blank">
        <img src="../../assets/images/partners/unicef.png" alt="UNICEF" border="0" />
      </a>


    </marquee>
    <a href="https://www.edacy.com/partner/register" target="blank">
      <div class="perso11">
        <button class="send">BE A PARTNER</button>
      </div>
    </a>

  </section>
  <!-- END PARTNERS-->


  <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3859.0240778093594!2d-17.46619438570871!3d14.711230478301257!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec1736251547ac9%3A0x75f4a7c6a11c67ff!2sEDACY+SENEGAL!5e0!3m2!1sfr!2ssn!4v1532989044629"
    width="100%" height="450" frameborder="0" allowfullscreen></iframe>

</div>