<div class="page-wrapper" let k=i, i=k>
  <!-- BREADCRUMB-->
  <div class="flex-containeri">
    <div>
      <img [src]="[event.image]" alt="Event" width="100%">
    </div>
    <!--  <div class="centerm">
        <div class="design-thinking-olym ">
            <p>BOOTCAMP #5</p>
        </div>
        <div class="Subdes">
            <p>Applying Design Thinking to solve real-life challenges</p>
        </div>
    </div>-->

  </div>
  <!-- END BREADCRUMB-->

  <!-- PAGE CONTENT-->


  <!--BAR-->
  <section class="magie">
    <div class="page-content--bgf7b">
      <div class="row">
        <div class="col-4">
          <div class="row">
            <div class="col-3" style="margin: auto">
              <div id="perso">
              </div>
            </div>
            <div class="col-8" style="margin: auto;">
              <div class=" date">{{event.date | date: "fullDate"}}
              </div>
            </div>
            <div class="separation" style="margin-left: 7%"></div>
          </div>
        </div>
        <div class="col-4">
          <div class="row" style="height: 100% !important">
            <div class="col-3" style="margin: auto">
              <a href="#map">
                <div id="perso-map" style="margin-left: 77%;">
                </div>
              </a>
            </div>
            <div class="col-8" style="margin: auto">
              <a href="#map" class="date" style="margin-left: 17%; height: 100%;">{{ event.lieu }}</a>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col-3">
              <div class="separation"></div>
            </div>
            <div class="col-9 centerf" id="About">
              <a href="{{ event.evenbride }}" target="_blank">
                <button class="register-now1">REGISTER NOW</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="flex-container">
    <div></div>
    <div></div>
    <div class="row">
      <div class="col-3" style="padding: auto">
        <div id="persom">
        </div>
      </div>
      <div class="col-4 ext-end">
        <a class="datem">
          {{event.date | date: "fullDate"}}
        </a>
      </div>
    </div>
    <div></div>
    <div></div>
    <div>
      <div class="separationm">
      </div>
    </div>
    <div></div>
    <div></div>
    <div class="row">
      <div class="col-3">
        <a href="#map">
          <div id="persom-map">
          </div>
        </a>
      </div>
      <div class="col-4 ext-end">
        <a href="map" class="datem">{{event.lieu}}</a>
      </div>
    </div>
    <div></div>
    <div></div>
    <div>
      <div class="separationm"></div>
    </div>
    <div></div>
    <div></div>
    <div>
      <div class="register-now1m">
        <a style="color:black" href="{{event.evenbride}}" target="_blank">
          REGISTER NOW
        </a>
      </div>
    </div>
    <div></div>
    <div id="About"></div>
  </div>
  <!--END BAR-->

  <div class="page-content--bgf7" style="margin-top: 6%">

    <!-- TEXT-->
    <div class="container-fluid">
      <a routerLink="/home">
        <div class="about-this-event">
          <p>About the event</p>
        </div>
      </a>

      <!-- TEXT-->
      <div class="days-of-quality">
        <p>{{ event.description.short }} </p>
      </div>
      <!-- END TEXT-->

      <div class="sed-ut-perspiciatis">
        <p>{{ event.description.long }}
        </p>
      </div>
    </div>
    <!-- END TEXT-->

    <!-- FACILITATORS-->

    <div id="Facil" class="facilitators tex-center" style="margin-top: 10%">
      <p>Facilitators</p>
    </div>
    <div>
      <div class="statistic">
        <div class="container">
          <div class="row">
            <div *ngFor="let facilitator of event.facilitator; let j=index" class="col-md-6" style="margin-bottom: 10% !important;width: 100% !important">
              <div class="centrer">
                <div class="conteneur">
                  <div class="d20">
                    <img src="{{facilitator.image}}" alt="" width="auto" height="100%">
                  </div>
                  <div class="apercu">
                    <p class="text-left" style="font-size: 17px;">
                      {{ facilitator.feel }}
                    </p>
                    <a id="social2" style="float: left ;" href="{{facilitator.twitter}}"></a>
                    <a id="social3" style="float: left;" href="{{facilitator.linkedin}}"></a>
                    <a id="social5" style="float: left ;" href="{{facilitator.facebook}}"></a>
                  </div>
                  <div class="text-center">
                    <a style="font-size: 22px;">{{facilitator.name }}</a>
                  </div>
                  <div class="text-center">
                    <a>{{facilitator.job}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END FACILITATORS-->

    <div class="container-fluid">
      <div class="facilitators">
        <p>Event Schedule</p>
      </div>
    </div>
    <nav class="accordion arrows">
      <div *ngFor="let schedule of event.schedule">
        <input type="radio" name="accordion" id="{{schedule.id}}" />
        <section class="box">
          <label class="day-1" for="{{schedule.id}}">
            <p class="day-b"> {{schedule.name}}</p>
            <p class="date1 text-left">{{schedule.date}}</p>
          </label>

          <label class="box-close" for="acc-close"></label>
          <div class="box-content">
            <div class="date12">
              <div *ngFor="let program of schedule.program">
                <a style="color: #9B9B9B; width: 100%">
                  <div class="flex-container2">
                    <div>
                      {{program.hour}}
                    </div>
                    <div>
                      {{program.text | uppercase}}
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </section>
      </div>

      <input type="radio" name="accordion" id="acc-close" />
    </nav>

    <!-- PARTNERS-->
    <section class=" rectanglep" style="background-color: #ffffff;margin-bottom: 15%">
      <div class="our-partners text-center">
        <p>Our Partners</p>
      </div>
      <div class="flex-container3">
        <div *ngFor="let partnariat of part.partnariat">
          <a class="slideimg" href="{{partnariat.website}}" target="_blank">
            <img src="{{partnariat.image}}" alt="partner" width="100%" height="auto" />
          </a>
        </div>
      </div>
    </section>
    <a href="https://www.edacy.com/partner/register" target="blank">
      <div class="perso11">
        <button class="send">BE A PARTNER</button>
      </div>
    </a>
    <!-- END PARTNERS-->


    <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3859.0240778093594!2d-17.46619438570871!3d14.711230478301257!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec1736251547ac9%3A0x75f4a7c6a11c67ff!2sEDACY+SENEGAL!5e0!3m2!1sfr!2ssn!4v1532989044629"
      width="100%" height="450" frameborder="0" allowfullscreen></iframe>

  </div>
</div>
