.gallery-back{
    margin-bottom: 2%
}
@media (max-width: 991px) {
    .gallery-back{
        margin-top:10% ;
    }
}
@media (max-width: 591px) {
    .gallery-back{
        margin-top:30% ;
    }
}
@media (max-width: 391px) {
    .gallery-back{
        margin-top:50% ;
    }
}
@media (max-width: 251px) {
    .gallery-back{
        margin-top:70% ;
    }
}
.flex-container2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    flex-direction: row;
    width: 100%
}

.flex-container2 > div {
    width: 100%;
    margin: 2%;
    text-align: center;
    font-size: 30px;
}

.flex-container3 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-top: 4%;
}

.flex-container3 > div {
    width: 100%;
    text-align: left;
    font-size: 30px;
}
.flex-container4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-direction: column;
    width: 100%
}

.flex-container4 > div {
    width: 100%;
    text-align: center;
}

#combined-shape {
    background-image: url("../../assets/images/icon/back.png");
    background-size: cover;
	height: 20px;
    width: 14px;
    margin: auto
}

.back {
	color: #D8D8D8;
	font-family: "Proxima Nova";
    font-size: 28px;
    text-align: left;
    margin: auto
}

.design {
	color: #000000;
	font-family: "Proxima Nova";
	font-size: 48px;
	font-weight: 600;
    line-height: 60px;
    text-align: left;
}


.small-date {
	color: #717171;
	font-family: "Proxima Nova";
	font-size: 14px;
    text-align: left;
    margin-left: 20px;
}

.lorem-ipsum-dolor-si1 {
	color: #9B9B9B;
	font-family: "Proxima Nova";
    font-size: 24px;
    text-align: left;
    margin-bottom: 10%;
}

#small-calendar {
    background-image: url("../../assets/images/icon/small-calendar@2x.png");
    background-size: cover;
	height: 21px;
	width: 22px;
}

.flex-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
}


#rectangle-14 {
    background-size: cover;
    margin-top: 10%
}