<div class="contain">
  <div class="navbar-nav  d-flex flex-row-reverse">
    <a routerLink="event/create" class="btn btn-warning btn-sm">
      Create Event
    </a>
  </div>

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <td>Event Name</td>
        <td>Event Description</td>
        <td>Event GST Number</td>
        <td colspan="2">Actions</td>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let event of events">
        <td>{{ event.event_name }}</td>
        <td>{{ event.event_desc }}</td>
        <td>{{ event.event_gst_number }}</td>
        <td>
          <a [routerLink]="['/edit', event._id]" class="link"
            ><img src="../../assets/images/icon/edit.png" alt="edit"
          /></a>
        </td>
        <td>
          <a (click)="deleteEvent(event._id)" class="link">
            <img src="../../assets/images/icon/dustbin.png" alt="delete" />
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
