<div class="contain">
  <div class="d-flex flex-column">
    <div class="navbar-nav  d-flex flex-row-reverse">
      <a
        routerLink="/admin"
        (click)="deleteEvent(event)"
        class="btn btn-danger btn-sm"
      >
        DELETE
      </a>
      <a
        [routerLink]="['/edit', event._id]"
        class="space btn btn-warning btn-sm"
      >
        EDIT
      </a>
      <a routerLink="/adminEDACY@2019aspirefarther@" class="space btn btn-light btn-sm">
        BACK TO DASHBOARD
      </a>
    </div>
    <div class="d-flex justify-content-between">
      <div class="card" style="width: 50%;">
        <img class="card-img-top" [src]="[event.image]" alt="Card image cap" />
      </div>
      <div class="card" style="width: 50%;">
        <div class="card-body">
          <p class="card-text">
            {{ event.title | uppercase }}
          </p>
          <p class="card-text">
            {{ event.date | date: "fullDate" | uppercase }}
          </p>
          <p class="card-text">
            {{ event.lieu | uppercase }}
          </p>
        </div>
      </div>
    </div>
    <div class="card" style="width: 100%;">
      <div class="card-header">
        Description
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          {{ event?.description?.short }}
        </li>
        <li class="list-group-item">
          {{ event?.description?.short1 }}
        </li>
        <li class="list-group-item">
          {{ event?.description?.long }}
        </li>
      </ul>
    </div>
    <div class="card" style="width: 100%;">
      <div class="card-header">
        Facilitator
      </div>
      <div class="d-flex justify-content-around">
        <div
          class="card"
          style="width: 18rem;"
          *ngFor="let facilitator of event.facilitator"
        >
          <img
            class="card-img-top"
            [src]="[facilitator.image]"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-text">
              {{ facilitator.name }}
            </p>
            <p class="card-text">
              {{ facilitator.job }}
            </p>
            <p class="card-text">
              {{ facilitator.feel }}
            </p>
            <p class="card-text">
              {{ facilitator.twitter }}
            </p>
            <p class="card-text">
              {{ facilitator.facebook }}
            </p>
            <p class="card-text">
              {{ facilitator.linkedin }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Schedule
      </div>
      <div *ngFor="let schedule of event.schedule">
      <div class="card-body">
        <p >
          {{ schedule.name | uppercase }}
        </p>
        <p >
          {{ schedule.date | uppercase }}
        </p>
        <table class="table table-striped table-hover">
          <thead class="thead-dark">
            <tr>
              <td>Time</td>
              <td>Activities</td>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let program of schedule.program">
              <td>{{ program?.hour }}</td>
              <td>{{ program?.text | uppercase }}</td>
            </tr>
          </tbody>
        </table>
      </div></div>
    </div>

    <div class="card" style="width: 100%;">
      <div class="card-header">
        Gallery image
      </div>
      <div class="d-flex justify-content-around">
        <div
          class="card"
          style="width: 18rem;"
          *ngFor="let gallery of event.gallery"
        >
          <img
            class="card-img-top"
            [src]="[gallery.image]"
            alt="Card image cap"
          />
        </div>
      </div>
    </div>
  </div>
</div>
