<div class="contain">
  <div class="d-flex flex-column">
    <div class="navbar-nav  d-flex flex-row-reverse">
      <a routerLink="/admin" (click)="deleteEvent(event._id)"  class="btn btn-danger btn-sm">
        DELETE
      </a>
      <a [routerLink]="['/edit', event._id]" class="space btn btn-warning btn-sm">
        EDIT
      </a>
      <a  routerLink="/admin" class="space btn btn-light btn-sm">
       BACK TO DASHBOARD
      </a>
    </div>
    <div class="d-flex justify-content-between">
      <div class="card" style="width: 50%;">
        <img class="card-img-top" [src]="['event.event_imgHome']" alt="Card image cap" />
      </div>
      <div class="card" style="width: 50%;">
        <div class="card-body">
          <p class="card-text">
              {{ event.event_name | uppercase}}
          </p>
          <p class="card-text">
             {{ event.event_gst_date | date:'fullDate' | uppercase}}
          </p>
        </div>
      </div>
    </div>
    <div class="card" style="width: 100%;">
      <div class="card-header">
        Description
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
            {{ event.event_desc }}
        </li>
        <li class="list-group-item">
            {{ event.event_desc_other }}
        </li>
      </ul>
    </div>
    <div class="card" style="width: 100%;">
      <div class="card-header">
        Facilitator
      </div>
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
      <div class="d-flex justify-content-between">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap" />
          <div class="card-body">
            <p class="card-text">
              facilitator
            </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap" />
          <div class="card-body">
            <p class="card-text">
              facilitator
            </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap" />
          <div class="card-body">
            <p class="card-text">
              facilitator
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Schedule
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <td>Time</td>
              <td>Activities</td>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let event of events">
              <td>{{ event.event_name }}</td>
              <td>{{ event.event_desc }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card" style="width: 100%;">
      <div class="card-header">
        partner
      </div>
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
      <div class="d-flex justify-content-between">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap" />
          <div class="card-body">
            <p class="card-text">
              partner
            </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap" />
          <div class="card-body">
            <p class="card-text">
              partner
            </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap" />
          <div class="card-body">
            <p class="card-text">
              partner
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
