<div class="container" style=" margin-bottom: 32px" *ngFor="let event of events; let i = index">
  <div *ngIf="event.etat ==='1'">
    <div class="bootcamp">
      <p>{{ event.title | uppercase }}
      </p>
    </div>
    <div class="a-3-days-event-where">
      <p>
        {{ event.description.short}}
      </p>
      <p>
        {{ event.description.long}}
      </p>
    </div>
  </div>
</div>

<div *ngFor="let event of events; let i = index">
  <div *ngIf="event.etat ==='1'">
    <div class="flex-container1">
      <div id="gauche">
      </div>
      <div class="rectangle-5">
        <div class="content">
          <p class="attend-the-next-edac">
            Attend the {{event.chrono}}
            EDACY Event
          </p>
          <p class="lorem-ipsum-dolor-si">
            {{ event.description.short}}
          </p>
          <a routerLink="/home-detail" [queryParams]="{'index': i}">
            <div class="rectangle-9">
              <p class="view-details"> VIEW DETAILS</p>
            </div>
          </a>
          <a routerLink="/gallery" [queryParams]="{'index': i}">
            <div class="rectangle-9">
              <p class="view-details"> VIEW GALLERY</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<div style="width: 80%; margin: auto">
  <div class="key-events">
    <p>KEY EVENTS
    </p>
  </div>
  <div class="line"></div>
  <div class="flex-container3">
    <div class="container" *ngFor="let event of events; let i=index">
      <div *ngIf="event.etat ==='0'">
        <div class="flex-container4">
          <div id="rectangle-14">
            <img src="{{event.img}}" alt="{{event.title}}" border="0" width="100%">
          </div>
          <div>
            <p class="edacy-bootcamp-desi">
              {{ event.title | uppercase }}
            </p>
          </div>
          <div>
            <p class="lorem-ipsum-dolor-si1">
              {{ event.description.long}}
            </p>
          </div>
          <a routerLink="/home-detail" [queryParams]="{'index': i}">
            <div class="flex-container2">
              <div style="width: 110px">
                <p class="view-pictures">
                  View details
                </p>
              </div>
              <div id="arrow">
              </div>
            </div>
          </a>
          <a routerLink="/gallery" [queryParams]="{'index': i}">
            <div class="flex-container2">
              <div style="width: 110px">
                <p class="view-pictures">
                  Gallery
                </p>
              </div>
              <div id="arrow">
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="rectangle-9-copy-2">
    <p class="older-post">
      OLDER POST
    </p>
  </div>-->
</div>